<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    
<div class="container">
    <div class="perfil">
        <div class="foto-box">
            <img src="/images/photo_2023-01-13_11-47-15.jpg" width="200px" height="250px" alt="Eu">
        </div>
        <div class="frase">
            <p>"Você tem que ser o espelho da mudança que está propondo. <br>
                Se eu quero mudar o mundo, tenho que começar por mim."</p>
               <p class="autor">Mahatma Gandhi</p> 
        </div>

        <div class="contatos">
   <hr>
<div class="ctt">
    <img src="/images/logo-gmail-9951.png" width="50px" height="50px" alt="Gmail">
    <div class="gmail-info">
        <p>joaomiraya01@gmail.com</p>
    </div>
</div>

<div class="ctt">
    <img src="/images/whatsapp-logo-png-2266.png" width="55px" height="45px" alt="whatsApp">
    <div class="whats-info">
        <p>(18) 98162-8581</p>
    </div>
</div>
</div>

    </div>

    <div class="moreInfo">
<div class="apresentacao">
    <p>Olá, me chamo João tenho 21 anos, atualmente me encontro desempregado
     e estou em busca da primeira oportunidade de entrar no ramo da Tecnologia,
    meu curso de Desenvolvedor Web FullStack da Digital House se encerra em fev/23, 
    porém estou apto para exercer funções como Dev Jr.

    </p>
</div>
    </div>
</div>

</body>
</html>